* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(238, 238, 238);
}

nav ul li {
    display: inline-block;
    padding-top: 25px;
    margin-left: 5px; 
}

a {
    text-decoration: none;
    color: #8A8A8A;
}

h1 {
    font-size: 35px;
}

.contenitore {
    max-width: 1280px;
    margin: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.fascia-violetta {
    background-color: rgb(238, 238, 238);
    min-height: 120px;
}

.tipa-yoga {
    margin-top: 25px;
    margin-bottom: 30px;
    background-position: center;
    background-image: url(../img/banner.jpg);
    height: 500px;
    border-radius: 10px;
}

.testo-yoga {
    padding-top: 310px;
    padding-left: 60px;
    max-width: 710px;
}

.scritta-grande-yoga {
    font-size: 23px;
    color: black;
}

.scritta-piccola-yoga {
    font-size: 16px;
    color: black;
}

.sfondo-blu {;
    min-height: 685px;
}

.leadership {
    min-height: 100px;
    padding-top: 10px;

}

.colonna-sinistra {
    min-height: 550px;
    float: left;
    width: 20%;
}

.colonna-centrale {
    min-height: 550px;
    float: left;
    width: calc(60% - 30px);
    margin-left: 15px;
}

.colonna-destra {
    min-height: 550px;
    float: left;
    width: 20%;
    margin-left: 15px;
}

.frase-finale {
    min-height: 70px;
    margin-top: 10px;
    color: #8A8A8A;
    text-align: center;
}

.logo {
    height: 60px;
}

.immagine-sinistra {
    height: 255px;
    width: 255px;
    border-radius: 10px;
    object-fit: cover;

}

.immagine-destra {
    width: 256px;
    height: 255px;
    border-radius: 10px;
    object-fit: cover;
}

.immagine-centro {
    width: 738px;
    height: 255px;
    border-radius: 10px;
    object-fit: cover;
}

